@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Pets</title>
    @Styles.Render("~/Content/css-one")
</head>
<body>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div ng-controller="homeCtrl as hC">
                    <h1>{{hC.title}}</h1>
                    <a href="#" ng-click="hC.backToUsersHandler()" ng-if="hC.backToUsersVisible">Back to all Users</a>
                    <form name="recordForm">
                        <input id="newRecord" ng-model="inputs.newRecord" placeholder={{hC.newRecordPlaceholder}} required>
                        <button type="submit" ng-click="addNewRecord(inputs, recordForm)">Add</button>
                    </form>
                    <hr />
                    <p><strong>Total count: </strong>{{ hC.paginOpt.totalItems | number }}</p>
                    <div ui-grid="hC.gridOpt" class="gridUi"></div>
                    <ul uib-pagination total-items="hC.paginOpt.totalItems" ng-model="hC.paginOpt.currentPage" items-per-page="hC.paginOpt.itemsPerPage" max-size="hC.paginOpt.maxSize" ng-change="hC.pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")

</body>
</html>